<ul>
  <li>
    <article>
      <h3>Thanks!</h3>
      <p>
        Thanks for buying something! You should be getting an email soon with more details.
      </p>
      <img src="/images/VICTORY.gif" />
    </article>
  </li>
</ul>
